body {
    background-image: url("https://i.pinimg.com/736x/19/12/b5/1912b58cd05cd7e999ff8cf85e2d8155--ford-mustangs-ken-block.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-top: 15rem;
    height: 250px;
}

.cuadrado {
    background-color: blue;
}

.ventana {
    border-radius: 50px;
    box-shadow: 20px 20px 50px 15px rgb(62, 152, 226);
}

button {
    color: #f10e3f !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0, 0, 0, 0);
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
    border-radius: 15px;
    background: white;
}

button:hover {
    background: #0d0d0e;
    color: rgb(79, 230, 20) !important;

}

.logo1 {
    width: 100%;
    margin: auto;
}

.postcard-footer {
    color: white;
    margin: auto;
    text-align: center;
}